# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js
dist/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Project specific
Backend/static/resumes/*
!Backend/static/resumes/.gitkeep
Backend/cleanup_db.py
Frontend/public/build/
